@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background: url('../image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
}

#city-name {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
}

#city-temperature {
    font-size: 2em;
    font-family: 'Anton', sans-serif;
}

.input-width {
    width: 40%;
}

#weather-info {
    height: 10px;
}

#error-message {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
}

@media screen and (max-width: 768px) {
    .input-width {
        width: 100%;
    }
}